/* =========================================================
   MMM-OpenWeatherMapForecast Stylesheet
   Cleaned and organized for consistency and readability
   ========================================================= */

/* Base */
.MMM-OpenWeatherMapForecast * {
  box-sizing: border-box;
}

.MMM-OpenWeatherMapForecast .module-content {
  width: 300px;
}

/* Temperature Colors */
.MMM-OpenWeatherMapForecast .forecast-container .forecast-item .temperature,
.MMM-OpenWeatherMapForecast .forecast-container .forecast-item .temperature-container {
  color: #fff;
}

.MMM-OpenWeatherMapForecast .temperature .low-temperature,
.MMM-OpenWeatherMapForecast .temperature-container .low-temperature {
  color: #aaa;
}

.MMM-OpenWeatherMapForecast .wrapper.colored .temperature .high-temperature,
.MMM-OpenWeatherMapForecast .wrapper.colored .temperature-container .high-temperature {
  color: #f8dd70;
}

.MMM-OpenWeatherMapForecast .wrapper.colored .temperature .low-temperature,
.MMM-OpenWeatherMapForecast .wrapper.colored .temperature-container .low-temperature {
  color: #6fc4f5;
}

/* Attribution */
.MMM-OpenWeatherMapForecast .attribution {
  font-size: 10px;
  line-height: 16px;
  color: #333;
  text-align: right;
}

/* Current Conditions */
.MMM-OpenWeatherMapForecast .current-conditions-wrapper .current.temperature {
  line-height: 80px;
  vertical-align: middle;
}

.MMM-OpenWeatherMapForecast .current-conditions-wrapper .current.feelslike {
  line-height: 80px;
  vertical-align: bottom;
}

.MMM-OpenWeatherMapForecast .current-conditions-wrapper .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  line-height: 80px;
  vertical-align: middle;
  position: relative;
}

/* Extra Current Conditions */
.MMM-OpenWeatherMapForecast .extra-current-conditions-wrapper {
  display: block;
  word-wrap: normal;
  margin: 0 -15px;
}

.MMM-OpenWeatherMapForecast .extra-current-conditions-wrapper .temperature-container,
.MMM-OpenWeatherMapForecast .extra-current-conditions-wrapper .precipitation-container,
.MMM-OpenWeatherMapForecast .extra-current-conditions-wrapper .wind-container {
  display: inline-block;
  white-space: nowrap;
  margin: 0 15px 10px 15px;
}

/* Inline Icons */
.MMM-OpenWeatherMapForecast .inline-icon,
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .inline-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0;
  vertical-align: bottom;
  position: relative;
}

/* Summary */
.MMM-OpenWeatherMapForecast .summary {
  margin: 15px 0;
}

/* Forecast Header */
.MMM-OpenWeatherMapForecast .module-header.forecast-header {
  margin: 20px 0 0 0;
}

/* =========================================================
   Tiled Layout
   ========================================================= */
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border-top: solid 1px #222;
}

.MMM-OpenWeatherMapForecast .wrapper.with-forecast-header.tiled .forecast-container {
  border-top: none;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100px;
  padding: 10px 5px;
  border-bottom: solid 1px #222;
  text-align: center;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .forecast-icon {
  width: 70px;
  height: 70px;
  margin: 4px auto;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .day-name {
  font-size: 17px;
  text-transform: uppercase;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .temperature-container {
  font-size: 22px;
  padding: 4px 0;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .wind-container {
  font-size: 17px;
  line-height: 1.5;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .wind-speed,
.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: inline-block;
  white-space: nowrap;
}

.MMM-OpenWeatherMapForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: block;
}

/* =========================================================
   Table Layout
   ========================================================= */
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-bottom: solid 1px #222;
  font-size: 17px;
  line-height: 1;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item,
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .header-row {
  display: table-row;
  border-top: solid 1px #222;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item > span,
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .header-row > span {
  display: table-cell;
  height: 40px;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .header-row > span {
  height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item > span:first-child {
  text-align: left;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item > span:last-child {
  text-align: right;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .forecast-icon {
  display: block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .time,
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .high-temperature,
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .low-temperature {
  white-space: nowrap;
}

.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .wind-gusts,
.MMM-OpenWeatherMapForecast .wrapper.table .forecast-container .forecast-item .accumulation {
  display: block;
  white-space: nowrap;
}

/* Misc */
.MMM-OpenWeatherMapForecast .accumulation::before {
  content: " ";
}
